<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.islamicapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IslamicApp">
        <activity
            android:name=".BoyGirlPanel.girl.wazuQuiz.wazu_quiz_girl"
            android:exported="true" />
        <activity
            android:name=".BoyGirlPanel.girl.namazQuiz.namazQuiz"
            android:exported="true" />
        <activity
            android:name=".BoyGirlPanel.girl.girl_activity"
            android:exported="true" />
        <activity
            android:name=".girl_five_list.Mainactivty_girl_portion"
            android:exported="true" />
        <activity
            android:name=".BoyGirlPanel.farzPakage.namazpkg.namazz"
            android:exported="true" />
        <activity
            android:name=".BoyGirlPanel.farzPakage.wazuQuiz.wazuQuizActivity"
            android:exported="true" />
        <activity
            android:name=".BoyGirlPanel.farzPakage.namazQuiz.NamazQuiz"
            android:exported="true" />
        <activity
            android:name=".BoyGirlPanel.farzPakage.dua.showlistdata.listActivity"
            android:exported="true" />
        <activity
            android:name=".BoyGirlPanel.farzPakage.dua.duaMAinActivity"
            android:exported="true" />
        <activity
            android:name=".BoyGirlPanel.Girls_portion.wazu_portion"
            android:exported="true" />
        <activity
            android:name=".BoyGirlPanel.Girls_portion.namaz_portion"
            android:exported="true" />
        <activity
            android:name=".BoyGirlPanel.farzPakage.quiz.quizActivity"
            android:exported="true" />
        <activity
            android:name=".BoyGirlPanel.farzPakage.wazu.wazuActivity"
            android:exported="true" />
        <activity
            android:name=".BoyGirlPanel.farzPakage.qibla.QiblaActivity"
            android:exported="true" />
        <activity
            android:name=".BoyGirlPanel.farzPakage.FarzMainActivity.FarzMaicActivity"
            android:exported="true" />
        <activity
            android:name=".BoyGirlPanel.boy.boyActivity"
            android:exported="true" />
        <activity
            android:name=".BoyGirlPanel.biy_girl_panel.boygirlPanelActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".Registrationpakage.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".Registrationpakage.Registereduser"
            android:exported="true" />
        <activity
            android:name=".BoyGirlPanel.splashScreen.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>