<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.islamicapp">


    <application
        android:allowBackup="true"
        android:icon="@drawable/iconapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IslamicApp">
        <activity
            android:name=".BoyGirlPanel.farzPakage.quiz.quizActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".BoyGirlPanel.farzPakage.namaz.nazamAtivity"
            android:exported="true" />
        <activity
            android:name=".BoyGirlPanel.farzPakage.wazu.wazuActivity"
            android:exported="true" />
        <activity
            android:name=".BoyGirlPanel.farzPakage.qibla.QiblaActivity"
            android:exported="true" />
        <activity
            android:name=".BoyGirlPanel.farzPakage.FarzMaicActivity"
            android:exported="true" />
        <activity
            android:name=".BoyGirlPanel.boy.boyActivity"
            android:exported="true" />
        <activity
            android:name=".BoyGirlPanel.boygirlPanelActivity"
            android:exported="true" />
        <activity
            android:name=".Registrationpakage.LoginActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".Registrationpakage.Registereduser"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>